<div class="h-screen w-screen flex bg-gray-900 text-white">
  <!-- LEFT SIDEBAR (Contacts) -->
  <div class="w-1/4 bg-gray-800 border-r border-gray-700 flex flex-col">
    <div class="p-4 text-xl font-semibold border-b border-gray-700">Contacts</div>

    <div class="flex-1 overflow-y-auto">
      <ul>
        <li
          *ngFor="let user of users$ | async"
          (click)="selectUser(user)"
          class="cursor-pointer hover:bg-gray-700 p-3 border-b border-gray-700 transition"
          [class.bg-gray-700]="(selectedUser$ | async)?.id === user.id"
        >
          <div>
            <div class="flex justify-between gap-2">
              <p class="font-medium">{{ user.firstName }} {{ user.lastName }}</p>
              <!--              <div *ngIf="hasNotificationFrom(user.id)" class=" bg-yellow-500 text-white text-xs rounded-full h-2 w-2"></div> // Notification batch-->
              <!-- 📨 Unread message count -->
              <div *ngIf="unreadCounts.get(user.id) && unreadCounts.get(user.id)! > 0"
                   class="bg-red-600 text-xs rounded-full w-5 h-5 flex items-center justify-center">
                {{ unreadCounts.get(user.id) }}
              </div>
            </div>
            <div class="text-xs text-gray-400">{{ user.email }}</div>
          </div>


          <!-- Online/offline indicator -->
          <ng-container *ngIf="(socketService.onlineUsers$ | async) as onlineUsers">
            <div
              class=" text-xs px-2 w-fit rounded-full mt-2"
              [ngClass]="onlineUsers.has(user.id) ? 'bg-green-500' : 'bg-gray-500'"
              title="{{ onlineUsers.has(user.id) ? 'Online' : 'Offline' }}"
            >{{ onlineUsers.has(user.id) ? 'Online' : 'Offline' }}
            </div>
          </ng-container>


        </li>
      </ul>
    </div>
  </div>

  <!-- RIGHT CHAT AREA -->
  <div class="flex-1 flex flex-col">
    <!-- Top Bar -->
    <ng-container *ngIf="selectedUser$ | async as selectedUser; else noChatSelected">
      <div class="p-4 border-b border-gray-700 bg-gray-800 text-lg font-semibold">
        Chat with {{ selectedUser.firstName }} {{ selectedUser.lastName }}
      </div>

      <!-- Chat Messages -->
      <div id="chat-container" class="flex-1 overflow-y-auto p-4 space-y-2 bg-gray-900" (scroll)="onScroll($event)">
        <div *ngFor="let msg of messages$ | async"
             [ngClass]="{ 'text-right': msg.senderId === currentUserId, 'text-left': msg.senderId !== currentUserId }"
             class="flex items-end">
          <div
            [ngClass]="{
      'bg-blue-600 text-white ml-auto': msg.senderId === currentUserId,
      'bg-gray-700 text-gray-100 mr-auto': msg.senderId !== currentUserId
    }"
            class="inline-block px-4 py-2 rounded-2xl max-w-xs break-words relative"
          >
<!--            text message-->
            <div *ngIf="msg.type === 'text'">{{ msg.message }}</div>

<!--            message with image-->
            <div *ngIf="msg.type === 'image'">
              <ng-container *ngIf="!msg._imgError && msg.message">
                <img
                  [src]="'http://localhost:8080' + msg.message"
                  alt="img send"
                  class="max-w-[200px] rounded"
                  (error)="msg._imgError = true"
                />
              </ng-container>

              <div *ngIf="msg._imgError || !msg.message" class="text-xs text-red-400 p-2 bg-gray-800 rounded">
                Image not available or cannot be downloaded
              </div>
            </div>

            <div *ngIf="msg.type === 'video'">
              <ng-container *ngIf="!msg._videoError && msg.message">
                <video
                  [src]="'http://localhost:8080' + msg.message"
                  controls
                  class=" rounded"
                  (error)="msg._videoError = true"
                  [attr.aria-describedby]="'desc-' + msg._id"
                >
                  <track kind="subtitles" [src]="'http://localhost:8080' + msg.message + '.en.vtt'" srclang="en" label="English" default>
                </video>
                <div [id]="'desc-' + msg._id" class="sr-only" *ngIf="msg._videoDescription">{{ msg._videoDescription }}</div>
              </ng-container>

              <div *ngIf="msg._videoError || !msg.message" class="text-xs text-red-400 p-2 bg-gray-800 rounded">
                Video not available or cannot be played
              </div>
            </div>
<!--            message with file-->
            <div *ngIf="msg.type === 'file'">
              <a [href]="`http://localhost:8080`+ msg.message" target="_blank">📄 Download File</a>
            </div>

            <!-- status ticks for messages sent by me -->
            <span *ngIf="msg.senderId === currentUserId" class="ml-2 inline-block align-text-bottom text-xs">
              <ng-container *ngIf="!msg.read">
                <!-- single tick (sent/delivered) -->
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-4 w-4" fill="none" viewBox="0 0 30 24"
                     stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"/>
                </svg>
              </ng-container>
              <ng-container *ngIf="msg.read">
                <!-- double tick (read) -->
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-4 w-4" fill="none" viewBox="0 0 32 24"
                     stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"/>
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" transform="translate(10,0)"/>
                </svg>
              </ng-container>
            </span>


          </div>
        </div>
        <!-- Typing indicator -->
        @if (isTyping) {
          <div class="px-4 py-2">
            <div class="flex space-x-1">
              <div class="w-2 h-2 bg-white/30 rounded-full animate-bounce" style="animation-delay: 0.2s"></div>
              <div class="w-2 h-2 bg-white/60 rounded-full animate-bounce" style="animation-delay: 0.4s;"></div>
              <div class="w-2 h-2 bg-white/90 rounded-full animate-bounce" style="animation-delay: 0.6s;"></div>
            </div>
          </div>
        }
      </div>

      <!-- Chat Input -->
      <div class="p-4 bg-gray-800 border-t border-gray-700 flex items-center gap-2">
        <input type="file" (change)="onFileSelected($event)" hidden #fileInput/>
        <button (click)="fileInput.click()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-paperclip-icon lucide-paperclip"><path d="m16 6-8.414 8.586a2 2 0 0 0 2.829 2.829l8.414-8.586a4 4 0 1 0-5.657-5.657l-8.379 8.551a6 6 0 1 0 8.485 8.485l8.379-8.551"/></svg>
        </button>
        <input
          type="text"
          placeholder="Type your message..."
          class="flex-1 p-2 rounded-xl bg-gray-700 text-white border border-gray-600 focus:outline-none"
          [(ngModel)]="messageText"
          (input)="onMessageInput()"
          (keydown.enter)="sendMessage()"
        />
        <button
          (click)="sendMessage()"
          class="px-4 py-2 bg-blue-600 hover:bg-blue-700 rounded-xl transition font-medium"
        >
          Send
        </button>
      </div>
    </ng-container>

    <ng-template #noChatSelected>
      <div class="p-4 border-b border-gray-700 bg-gray-800 text-lg font-semibold">
        Select a user to start chatting
      </div>
    </ng-template>
  </div>
</div>
